<script lang="ts">
  import { Accordion, AccordionItem } from "@skeletonlabs/skeleton";
  import Fa from "svelte-fa";
  import { faDragon, faAddressCard } from "@fortawesome/free-solid-svg-icons";
  import { faGenderless, faInfinity } from "@fortawesome/free-solid-svg-icons";
  import ExternalLink from "$lib/components/ExternalLink.svelte";
  import Gender from "$lib/components/Gender.svelte";
</script>

<div class="flex justify-center mt-6">
  <div class="flag">
    <img
      src="/gifs/anfem.gif"
      alt="An anarcha-feminist flag"
      title="An anarcha-feminist flag"
      class="flip"
    />
  </div>

  <div class="flex flex-col items-center writing-width mx-2">
    <h1 class="">Welcome to jindrx's space</h1>

    <p class="mt-4">
      ...the space where I write about my opininons and experiences. Who knows,
      maybe some of what I write will be useful to someone. And if not, at least
      I had fun writing it.
    </p>

    <div class="flex mt-6">
      <div class="flex justify-center pr-2">
        <a
          class="btn btn-sm variant-ghost-surface card-hover"
          href="https://todon.nl/@jindra"
          target="_blank"
          rel="me"
        >
          Fedi
        </a>
      </div>

      <a class="btn btn-sm variant-filled card-hover" href="/rhizome_world"
        >step into the rhizome world</a
      >
    </div>

    <h2 class="mt-6">But who am I?</h2>

    <p class="">
      Uh, I don't know actually, that's hard to answer. Here's some info about
      me.
    </p>

    <div class="mt-2 writing-width">
      <Accordion>
        <AccordionItem>
          <svelte:fragment slot="lead"
            ><Fa icon={faAddressCard} class="w-5" /></svelte:fragment
          >
          <svelte:fragment slot="summary">My pronouns are</svelte:fragment>
          <svelte:fragment slot="content"
            >they/them (en), ono nebo on (cz), COMING SOON (de)</svelte:fragment
          >
        </AccordionItem>
        <AccordionItem>
          <svelte:fragment slot="lead"
            ><Fa icon={faGenderless} class="w-5" /></svelte:fragment
          >
          <svelte:fragment slot="summary">Gender</svelte:fragment>
          <svelte:fragment slot="content"><Gender /></svelte:fragment>
        </AccordionItem>
        <AccordionItem>
          <svelte:fragment slot="lead"
            ><Fa icon={faInfinity} class="w-5" /></svelte:fragment
          >
          <svelte:fragment slot="summary">I'm autistic</svelte:fragment>
          <svelte:fragment slot="content">
            That means a lot of different things. For example, I find it hard to
            understand other people's feelings, which is why I often like to
            literally and expliclitly express what I feel. There's more to it,
            and too little space to describe it in detail.
          </svelte:fragment>
        </AccordionItem>
        <AccordionItem>
          <svelte:fragment slot="lead"
            ><Fa icon={faDragon} class="w-5" /></svelte:fragment
          >
          <svelte:fragment slot="summary">King Gizzard</svelte:fragment>
          <svelte:fragment slot="content">and the Lizard Wizard</svelte:fragment
          >
        </AccordionItem>
        <!-- ... -->
      </Accordion>

      <p class=" mt-4">I'm a member of the collective</p>
      <div class="flex justify-center">
        <a href="https://spinkdistro.art">
          <img
            src="/gifs/SpinkDistro.gif"
            alt="Spink Distro in a flaming font"
          />
        </a>
      </div>
      <p>where we make zines and stuff. Maybe you have visited</p>
      <div class="flex justify-center">
        <a href="https://jidu.cz">
          <img
            src="/images/The_boring_old.png"
            alt="The boring old web in a glacial font"
          />
        </a>
      </div>
      <p>
        See the source code of this web on <ExternalLink
          href="https://gitlab.com/JindraZPrahy/jindrx">GitLab.</ExternalLink
        >
      </p>
      <p>
        I would like to thank <ExternalLink href="http://csha.io/">csha</ExternalLink> for helping
        me with webdesign on this web. In case you're curious how I made it, the
        main tools were <ExternalLink href="https://svelte.dev">Svelte</ExternalLink>
        and the component library <ExternalLink href="https://www.skeleton.dev/"
          >Skeleton</ExternalLink
        >.
      </p>
    </div>
  </div>

  <div class="flag">
    <img
      src="/gifs/anfem.gif"
      alt="An anarcha-feminist flag"
      title="An anarcha-feminist flag"
    />
  </div>
</div>

<style>
  .flag {
    @apply hidden lg:block;
  }
  .flip {
    transform: scaleX(-1);
  }
</style>
