<script lang="ts">
  import type { PostFull } from "$lib/content/types";
  import TagBadge from "$lib/components/TagBadge.svelte";

  import SvelteMarkdown from "svelte-markdown";
  import "katex/dist/katex.min.css";
  import Markdown, { type Plugin } from "svelte-exmarkdown";

  import { gfm, math, rawHtml } from "$lib/re-plugins";

  const plugins = [gfm, math, rawHtml];

  export let data: PostFull;

  //console.log(data);
</script>

<div class="flex flex-col items-center">
  <h1 class="writing-width">{data.metadata.title}</h1>
  {#if data.metadata.tags || data.metadata.links || data.metadata.notes}
    <div class="card p-4 mt-2 writing-width">
      {#if data.metadata.tags}
        <p>
          Tags:
          {#each data.metadata.tags as tag}
            <TagBadge {tag} />
          {/each}
        </p>
      {/if}
      {#if data.metadata.links && data.metadata.links.length != 0}
        <p>
          Links:
          {#each data.metadata.links as link, index}
            <span
              ><a href={link}>{link}</a>{index ===
              data.metadata.links.length - 1
                ? ""
                : ", "}
            </span>
          {/each}
        </p>
      {/if}
      {#if data.metadata.notes}
        <p>Notes: {data.metadata.notes}</p>
      {/if}
    </div>
  {/if}

  <div class="mt-4 writing-width">
    <Markdown md={data.content} {plugins} />
  </div>
</div>

<!--
  Workaround with :global -> not the best?
-->
<style>
  :global(p) {
    @apply my-1;
  }

  :global(ul),
  :global(ol) {
    @apply ml-6;
    list-style-position: outside;
  }

  :global(blockquote) {
    margin: 0 0 16px 0;
    padding: 16px;
    border-left: 10px solid;
    border-color: rgba(var(--color-surface-400) / 1);
    background-color: rgba(var(--color-surface-700) / 1);
    font-size: 16px;
    line-height: 1.5;
  }

  :global(section) {
    @apply mt-2;
  }
</style>
