<script lang="ts">
  import TagBadge from "$lib/components/TagBadge.svelte";

  export let data;
  let tags = data.tags;

</script>

<div class="flex flex-col items-center">
  <div class="writing-width">
    <h1>Tag list</h1>
    <div class="mt-6">
      {#each tags as tag}
        <TagBadge {tag} />
      {/each}
    </div>
  </div>
</div>
