<script lang="ts">
  import PostPreview from "$lib/components/PostPreview.svelte";

  export let data;
</script>

<div class="flex flex-col items-center">
  <div class="writing-width">
    <h1>Tag: {data.tag}</h1>

    {#each data.postKeysForTag as key, i}
      <div class="mt-4">
        <PostPreview article={data.postsForTag[i]} {key} />
      </div>
    {/each}
  </div>
</div>
