<script lang="ts">
  import PostPreview from "$lib/components/PostPreview.svelte";
  import { fetchPostContent } from '$lib/index';
  import { truncatemdString } from "$lib/index";

  export let data;
  let articles = data;

</script>

<div class="flex flex-col items-center">
  <div class="writing-width">
    <h1 class="text-4xl w-fit mx-auto">Welcome, potato lover!</h1>

    <p class="mt-4">
      This is a place where I plan to dump my musings, observations and
      sometimes even real articles with lots of thought put into them. The idea
      of this messy realm is to create a web of knowledge. Or a digital garden
      of sorts.
    </p>

    <p>
      Each post has tags which can be used for filtering... when I
      implement it, that is.
    </p>

    <p>
      At the moment, I would rather have lots of small posts than not so
      many big posts. We will see.
    </p>

    <h2 class="mt-6">List of posts</h2>

    <!---->
    {#each Object.keys(articles) as key}
      {#if key != "test"}
        <div class="mt-4">
          {#await fetchPostContent(fetch, key)}
            :3
          {:then content} 
          <PostPreview article={{content: truncatemdString(content), metadata: articles[key]}  } {key} />
          {/await}
        </div>
      {/if}
    {/each}
  </div>
</div>
