@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
}

/* vintage theme */
@font-face {
  font-family: "Abril Fatface";
  src: url("/fonts/AbrilFatface.ttf");
  font-display: swap;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

.no-style-link {
	font-weight: normal;
	text-decoration: none;
}

ol {
	list-style-type: decimal;
}

ul, ol {
  @apply ml-6;
}

.writing-width {
	@apply w-[20rem] md:w-[30rem] lg:w-[42rem];
}