<script lang="ts">
    import { Accordion, AccordionItem } from '@skeletonlabs/skeleton';
    import Fa from 'svelte-fa';
    import { faGenderless } from '@fortawesome/free-solid-svg-icons';
</script>

<Accordion>
    <AccordionItem>
        <svelte:fragment slot="lead"><Fa icon={faGenderless} /></svelte:fragment>
		<svelte:fragment slot="summary">gender</svelte:fragment>
        <svelte:fragment slot="content"><svelte:self></svelte:self></svelte:fragment>
    </AccordionItem>
</Accordion>