<script lang="ts">
    //Thanks, https://github.com/m93a/digital-garden :3
	import Fa from 'svelte-fa';
	import { faArrowUpRightFromSquare as faExt } from '@fortawesome/free-solid-svg-icons';

	import { Renderer } from 'svelte-exmarkdown';
	import type { HastElement } from 'svelte-exmarkdown/types';
	interface $$Props extends HastElement {}
	$$props; // ignore unknown props

	export let properties: $$Props['properties'] = {};
	export let children: $$Props['children'];
	console.log("hiiii")
	console.log(properties)

	$: href = <string>properties?.href ?? '';
	$: external = !!href.match(/https?:\/\//);
	$: console.log(href);
</script>

<!-- Waiting for a trim whitespace option 😔 -->
<!-- prettier-ignore -->
<a {...properties} {href}><!--
  -->{#each children as child}<Renderer astNode={child} />{/each}<!--
  -->{#if external}{" "}<Fa icon={faExt} />{/if}<!--
--></a>
