<script lang="ts">
  import type { PostFull } from "$lib/content/types";
  import SvelteMarkdown from "svelte-markdown";
  import TagBadge from "./TagBadge.svelte";

  export let article: PostFull;
  export let key: string;

  //console.log(article.content)
</script>

<div class="card writing-width card-hover px-4 py-4">
  <div class="">
    <a href={"/rhizome_world/posts/" + key} class="no-style-link">
      <h3>{article.metadata.title}</h3>
    </a>
  </div>
  <div class="my-2">
    {#if article.metadata.tags}
      {#each article.metadata.tags as tag}
        <TagBadge {tag} />
      {/each}
    {/if}
  </div>
  <div class="max-h-40 text-ellipsis overflow-hidden">
    <a href={"/rhizome_world/posts/" + key} class="no-style-link">
      <SvelteMarkdown source={article.content} />
    </a>
  </div>
</div>
